* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    background-color: #ebeaea
}

.colorbox {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    padding: 100px 0;
    gap: 20px;

}

.box {width: 100px;
      height: 100px;
      border: 2px solid #888;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      cursor: pointer;
      transition: 0.3s;
}

.in {
    padding: 2px;
    margin-right: 10px;
    width: 180px;
    border: 1px solid #999;
    border-radius: 2px;
}

.geet {
    display: flex;
    justify-content: center;
    padding: 0 20px 0 0;
    display: flex;

}

.Greet {
    padding: 10px;
    background-color: #ccc;
}